In [1]:
#SET IN PYTHON
PYT = set()
PYT.add('s')
print("Letters are:", PYT)
 
# adding 'e' again
PYT.add('e')
print("Letters are:", PYT)
# adding 's' again
PYT.add('s')
print("Letters are:", PYT)

Letters are: {'s'}
Letters are: {'e', 's'}
Letters are: {'e', 's'}

#Python set methods

In [2]:
# set of letters
s = {'g', 'e', 'k', 's'}

# adding 's'
s.add('f')
print('Set after updating:', s)

# Discarding element from the set
s.discard('g')
print('\nSet after updating:', s)

# Removing element from the set
s.remove('e')
print('\nSet after updating:', s)

# Popping elements from the set
print('\nPopped element', s.pop())
print('Set after updating:', s)
s.clear()
print('\nSet after updating:', s)

Set after updating: {'e', 'g', 's', 'k', 'f'}

Set after updating: {'e', 's', 'k', 'f'}

Set after updating: {'s', 'k', 'f'}

Popped element s
Set after updating: {'k', 'f'}

Set after updating: set()

#Get unique values from a list

In [3]:
# function to get unique values
def unique(list1):
    # initialize a null list
    unique_list = []
    # traverse for all elements
    for x in list1:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)
    # print list
    for x in unique_list:
        print (x),
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)
 
 
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
10
20
30
40

the unique values from 2nd list is
1
2
3
4
5

#Get Unique Values from a List Using Set Method

In [16]:
def unique(list1):
 
    # insert the list to the set
    list_set = set(list1)
    # convert the set to the list
    unique_list = (list(list_set))
    for x in unique_list:
        print (x),
 
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)
 
 
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
40
10
20
30

the unique values from 2nd list is
1
2
3
4
5

#Get unique value by reduce()

In [2]:
from functools import reduce
 
def unique(list1):
 
    # Print directly by using * symbol
    ans = reduce(lambda re, x: re+[x] if x not in re else re, list1, [])
    print(ans)
 

list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)
 
 
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
[10, 20, 30, 40]

the unique values from 2nd list is
[1, 2, 3, 4, 5]

#Get Unique Values From a List in Python Using Operator.countOf()

In [3]:

import operator as op
# function to get unique values
def unique(list1):
 
    # initialize a null list
    unique_list = []
 
    # traverse for all elements
    for x in list1:
        # check if exists in unique_list or not
        if op.countOf(unique_list, x) == 0:
            unique_list.append(x)
    # print list
    for x in unique_list:
        print(x)
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)
 
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
10
20
30
40

the unique values from 2nd list is
1
2
3
4
5

#Get Unique Values From a List in Python Using pandas

In [19]:
import pandas as pd
 
# function to get unique values
def unique(list1):
    unique_list = pd.Series(list1).drop_duplicates().tolist()
    for x in unique_list:
        print(x)
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)
 
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
10
20
30
40

the unique values from 2nd list is
1
2
3
4
5

#Get Unique Values From a List Using numpy.unique

In [20]:
import numpy as np
 
def unique(list1):
    x = np.array(list1)
    print(np.unique(x))
 
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)
  
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
[10 20 30 40]

the unique values from 2nd list is
[1 2 3 4 5]

#Get Unique Values From a List in Python Using collections.Counter()

In [21]:
from collections import Counter
 
# Function to get unique values
def unique(list1):
    print(*Counter(list1))

list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)
 
 
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
10 20 30 40

the unique values from 2nd list is
1 2 3 4 5


#Get Unique Values From a List Using dict.fromkeys()

In [22]:
list1 = [10, 20, 10, 30, 40, 40]
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
 
# storing the result of the fromkeys()
# operation and converting it into list
unique_list_1 = list(dict.fromkeys(list1))
 
unique_list_2 = list(dict.fromkeys(list2))
 
print(unique_list_1,unique_list_2,sep="\n")

[10, 20, 30, 40]
[1, 2, 3, 4, 5]

#sort python list using key in python

In [25]:
a = [5, 1, 4, 3]
print(sorted(a))

[1, 3, 4, 5]

In [27]:
strs = ['aa', 'BB', 'zz', 'CC']
print(sorted(strs))  
print(sorted(strs, reverse=True))

['BB', 'CC', 'aa', 'zz']
['zz', 'aa', 'CC', 'BB']

In [35]:
tuple = (1, 2, 'hi')
print(len(tuple))  ## 3
print(tuple[2])    ## hi
tuple = (1, 2, 'bye')  ## this works
print(tuple[2])

3
hi
bye

In [24]:
strs = ['ccc', 'aaaa', 'd', 'bb']
print(sorted(strs, key=len))  ## ['d', 'bb', 'ccc', 'aaaa']

['d', 'bb', 'ccc', 'aaaa']

In [39]:
nums = [1, 2, 3, 4]
squares = [ n * n for n in nums ]   ## [1, 4, 9, 16]
print(nums)
print(squares)

[1, 2, 3, 4]
[1, 4, 9, 16]

In [40]:
strs = ['hello', 'and', 'goodbye']
shouting = [ s.upper() + '!!!' for s in strs ]
print(shouting)

['HELLO!!!', 'AND!!!', 'GOODBYE!!!']

In [42]:
nums = [2, 8, 1, 6]
small = [ n for n in nums if n <= 2 ] 
print(small)

[2, 1]

In [43]:
fruits = ['apple', 'cherry', 'banana', 'lemon']
afruits = [ s.upper() for s in fruits if 'a' in s ]
print(afruits)

['APPLE', 'BANANA']

In [16]:
#JSON(JAVASCRIPT OBJECT NOTATION)  JSON String to Dictionary Python

In [17]:
#import json module
import json
# Define JSON string
jsonString = '{ "id": 1, "name": "Monika Gariya", "course": "Data Engineering"}'
 
# Convert JSON String to Python
student_details = json.loads(jsonString)
 
# Print Dictionary
print(student_details)
 
# Print values using keys
print(student_details['name'])
print(student_details['course'])

{'id': 1, 'name': 'Monika Gariya', 'course': 'Data Engineering'}
Monika Gariya
Data Engineering

In [13]:
#PYTHON DICTIONARY

In [14]:
import json
jsonString = '{ "id": 1, "name": "Monika Gariya", "course": "Data Engineering"}'
json_dict = json.loads(jsonString)
print(json_dict)

{'id': 1, 'name': 'Monika Gariya', 'course': 'Data Engineering'}

In [19]:

#Convert JSON String to Dictionary in Python

In [21]:
import json
 
# JSON string
json_string = '{"Name": "Monika", "age": 23, "Course": "DSA"}'
 
# Convert JSON string to dictionary
json_dict = json.loads(json_string)
 
print(json_dict)

{'Name': 'Monika', 'age': 23, 'Course': 'DSA'}

In [ ]:

#PYTHON PARSE JSON STRING

In [23]:
import json
 
# JSON string
employee ='{"id":"09", "name": "Monika", "department":"Finance"}'
 
# Convert string to Python dict
employee_dict = json.loads(employee)
print(employee_dict)
 
print(employee_dict['name'])

{'id': '09', 'name': 'Monika', 'department': 'Finance'}
Monika

In [25]:
#CONVERT PYTHON DICT TO JSON

In [26]:
import json
  
# Data to be written
dictionary = {
  "id": "04",
  "name": "sunil",
  "department": "HR"
}
  
# Serializing json
json_object = json.dumps(dictionary, indent = 4)
print(json_object)

{
    "id": "04",
    "name": "sunil",
    "department": "HR"
}

In [28]:
#Python Pretty Print JSON

In [29]:
import json
 
# JSON string
employee ='{"id":"09", "name": "Nitin", "department":"Finance"}'
 
# Convert string to Python dict
employee_dict = json.loads(employee)
 
# Pretty Printing JSON string back
print(json.dumps(employee_dict, indent = 4, sort_keys= True))

{
    "department": "Finance",
    "id": "09",
    "name": "Nitin"
}

In [33]:
#Convert JSON File to Python Object

In [34]:
import json
 
# Opening JSON file
with open('data.json') as json_file:
    data = json.load(json_file)
 
    # Print the type of data variable
    print("Type:", type(data))
 
    # Print the data of dictionary
    print("\nTHE  FRUIT IS:", data['fruit'])

Type: <class 'dict'>

THE  FRUIT IS: Apple

In [41]:
#Python read JSON file

In [42]:

import json
 
# Opening JSON file
f = open('data.json',)
 
# returns JSON object as
# a dictionary
data = json.load(f)
 
# Iterating through the json
# list
for i in data['size']:
    print(i)
 
# Closing file
f.close()

L
a
r
g
e